<div style="text-align: center">
    <table>
        <tr>
          <td>
            <b>Enter Your Name :</b>
          </td>
          <td>
            <textarea name="name" id="" cols="30" rows="1"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <b>Enter Your Course :</b>
          </td>
          <td>
            <textarea name="course" id="" cols="30" rows="1"></textarea>
          </td>
          </tr>
        <tr>
          <td>
             <h1><button (click)="success()">Submit</button></h1> 
          </td>
        </tr>
      </table>
</div>